
#name {
  margin-top: -30px;
  margin-left: 80px;
  color: grey;
}

#message {
  margin-top: -30px;
  margin-left: 80px;
}

#homejumbo {
  color: #f2dede;
  background-color: #a94442;
}

.jumbotron {
  background-color: #f2dede;
  color: #a94442;
}

.jumbotron hr {
  border-top-color: white;
}

#homejumbo hr {
  border-top-color: white;
}

hr {
  border-top-color: white;
}
